@model EmpViewModel
@{
    ViewData["Title"] = "Create";
    
 }


<h1 class="my-3">Create new Employee</h1>

<form asp-action="Create" enctype="multipart/form-data" >
    
   
    <partial name="PartialViews/CreateEditEmpPartial" />
    <div class="form-group">
        <label class="col-form-label" asp-for="HireDate"></label>
        <input type="date" asp-for="HireDate" class="form-control" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
    </div>
   
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">back to list</a>

</form>



@section ValidationScript{
    <partial name="_ValidationScriptsPartial" />
}

