@model EmpViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1 class="my-3">are you sure to Delete?</h1>


<form asp-action="Delete"  asp-route-id="@Model.Id">
    <div asp-validation-summary="All"></div>
    <partial name="PartialViews/DetailsDeleteEmpPartial" />
    <input type="hidden" asp-for="ImageName" />
   
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Cancel</a>

</form>

