@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ForgetPassword" method="post">
			
			<input class="text my-4" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-light"></span>
			<input type="submit" value="Send Email">
		</form>
	</div>
</div>
@section ValidationScript {
	<partial name="_ValidationScriptsPartial" />
}

