@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">
			
			<input class="text my-4" type="hidden" asp-for="Email" placeholder="Email" required="">
			<input class="text my-4" type="hidden" asp-for="Token" placeholder="Email" required="">
			<input class="text my-4 " asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password" class="text-light"></span>
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-light "></span>
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
@section ValidationScript {
	<partial name="_ValidationScriptsPartial" />
}

